<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#" style="font-size: 18px">История гениального открытия</a>
        </nav>
    </header>
    <main style="height: calc(100vh - 100px)">
        <form class="container d-flex justify-content-center flex-column h-100"
              name="monograph-text" action="." method="post">
            <h1 class="mt-3">Контент-анализ научной монографии</h1>
            <textarea class="data-field mt-3 rounded"
                      name="data-field"
                      placeholder="Вставьте текст монографии..."
                      style="min-height: 250px"></textarea>
            <input class="mt-3" type="file" accept=".jpeg, .jpg, .png">
            <input class="btn btn-success mt-3" type="submit" value="Запустить">
        </form>
    </main>
</body>
</html>